section{
margin:10px auto;
display:flex;
flex-wrap: wrap;
}
#para{
  width:20vw;

}
div{
  text-align: center;
  border:darkgrey solid 1px;
  
}
#bg-color{
  background-color:darkgrey;
  color:steelblue;
  font-weight:bold;
}
#bg-color:hover{
  box-shadow:steelblue  3px 3px 3px 3px;
}